__pycache__/
venv/
.idea/
key.json
key_openai.json
key_replicate.json
key_serpapi.json
key_ipinfo.json
key_owm.json
key_zapier.json
object_detection.py
object_detection_test.py
object_masking.py
object_masking2.py
prompt.txt
prompt-en.txt
scratch_3.py
Seguimientomanos.py
system-prompt.txt
voice-recognition.py
Volumen.py
guanaco.py
geckodriver.log
images.txt
output.mp3
output.txt
screenshot.png
Instagram.lnk
WhatsApp.lnk
YT_Music.lnk
yolov8x.pt
bus.jpg
img.png